<p>You are viewing <%= @selected_band.name %></p>

<div id="ratings_group">
  <% if @selected_band.rating %>
  <p>  RATING: <%= @selected_band.rating %> </p>
  <% else %>
  <p>Rate It</p>
  <form action="/add_ratings" method="post">
    <input type="hidden" name="id" value="<%= @selected_band.id()%>">
    <input type="radio" name="rating" value="1">*

    <input type="radio" name="rating" value="2">**

    <input type="radio" name="rating" value="3">***

    <input type="radio" name="rating" value="4">****

    <input type="radio" name="rating" value="5">*****

    <button type="submit" class="btn btn-sucess">Add Rating</button>
  </form>
</div>
  <% end %>

<div id= "venues_group">
  <p>Venues Playing: </p>

  <% if @selected_band.venues.any? %>
    <% @selected_band.venues.each() do |venue| %>
      <li> <%= venue.name() %> </li>
    <% end %>
  <% else %>
    <form action="/venue_associate" method = "post">
      <input type="hidden" name="id" value="<%= @selected_band.id()%>"
      <% @venues.each do |venue| %>
        <input type="checkbox" name="venue_checkbox[]" value="<%= venue.id() %>"><%= venue.name %>
      <% end %>
      <button name="button">Associate</button>
    </form>
  <% end %>

</div>
 <a href="/">Home</a>
